<!DOCTYPE html>
<html>
<head>
	<title>Multiplayer Snake</title>
	<link rel="stylesheet" type="text/css" href="client/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

	<script src="client/js/helpers.js"></script>
	<script src="client/js/gameboard.js"></script>
	<script src="client/js/candy.js"></script>
	<script src="client/js/snake.js"></script>
	<script src="client/js/game.js"></script>

	<script src="client/js/main.js"></script>
</head>
<body>
	<div id="app">
		<!-- Element that contains all elements for home page -->
		<template id="home-view" v-if="page === 'home-view'">
			<div class="loginBox container card">
				<header class="card-header">
					<p class="card-header-title">Multiplayer Snake Login</p>
				</header>
				<div class="card-content">
					<div class="content">
						<div class="columns pad-vert">
							<input id="player-name" class="input" type="text" placeholder="Enter a name" v-model="playerName">
						</div>
						<div class="columns pad-vert">
							<button class="button is-fullwidth is-success" ref="playButton" v-on:click="joinAnyLobby()">Play!</button>
						</div>
						<div class="columns pad-vert">
							<button id="create-button" class="button is-fullwidth is-primary" v-on:click="createLobby()">Create Lobby</button>
						</div>
						<div class="columns pad-vert">
							<input id="join-input" class="input column is-three-quarters" type="text" placeholder="Lobby ID" v-model="joinLobbyText">
							<button id="join-button" class="button is-fullwidth is-link mar-left" v-on:click="joinLobby(joinLobbyText)">Join Lobby</button>
						</div>
					</div>
				</div>
			</div>
		</template>

		<!-- Element that contains all elements for lobby page -->
		<template id="lobby-view" v-if="page === 'lobby-view'">
			<div id="player-list-container">
				<h2>Players in lobby:</h2>
				<div ref="playerList" v-for="player in players">
					<h2 v-bind:style="{ color: player.color }">
						{{ player.name + (player.isHost ? ' (host)' : '') }}
					</h2>
				</div>
				<button disabled ref="startGameButton" v-on:click="startLobby()">Start game</button>
			</div>
		</template>

		<!-- Element that contains all elements for game page -->
		<template id="game-view">
			<canvas id="game-canvas" v-show="page === 'game-view'"></canvas>
		</template>
	</div>
</body>
</html>