<!DOCTYPE html>
<html>
<head>
	<title>Multiplayer Snake</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

	<script src="client/js/helpers.js"></script>
	<script src="client/js/gameboard.js"></script>
	<script src="client/js/candy.js"></script>
	<script src="client/js/snake.js"></script>
	<script src="client/js/game.js"></script>

	<script src="client/js/main.js"></script>
</head>
<body>
	<div id="app">
		<!-- Element that contains all elements for home page -->
		<template id="home-view" v-if="page === 'home-view'">
			<input id="player-name" type="text" v-model="playerName">
			<button ref="playButton" v-on:click="joinAnyLobby()">Play</button>
			<button id="create-button" v-on:click="createLobby()">Create Lobby</button>
			<input id="join-input" type="text" v-model="joinLobbyText">
			<button id="join-button" v-on:click="joinLobby(joinLobbyText)">Join Lobby</button>
		</template>

		<!-- Element that contains all elements for lobby page -->
		<template id="lobby-view" v-if="page === 'lobby-view'">
			<div id="player-list-container">
				<h2>Players in lobby:</h2>
				<div ref="playerList" v-for="player in players">
					<h2 v-bind:style="{ color: player.color }">
						{{ player.name + (player.isHost ? ' (host)' : '') }}
					</h2>
				</div>
				<button disabled ref="startGameButton" v-on:click="startLobby()">Start game</button>
			</div>
		</template>

		<!-- Element that contains all elements for game page -->
		<template id="game-view">
			<canvas id="game-canvas" v-show="page === 'game-view'"></canvas>
		</template>
	</div>
</body>
</html>